.container_category .category {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 10px;
}

.container_category .category .all_category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 20px 0;
    cursor: pointer;
}

.container_category .category .all_category:hover {
    transform: scale(1.05);
    transition: .2s linear;
}

.container_category .category .all_category span {
    word-wrap: break-word;
}