.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.container div {
    width: 100%;
    max-width: 300px;
    height: 150px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 17px;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}

.container div p {
    color: white;
}