.container_category {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container_category .save_category {
    border-color: #008000;
    color: #008000;
    margin-bottom: 15px;
}

.container_category .delete_category {
    color: #F84444;
    border-color: #F84444;
}

