.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.container_header span i {
    margin-right: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.container_header span i:hover {
    color: #2a516f;
    transition: .2 linear;
}