@keyframes rotateLoading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #232222;
}

::-webkit-scrollbar {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.btn {
    width: 100%;
    max-width: 156px;
    height: 39px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 27px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.btn_full_size {
    max-width: none;
}

.btn:hover {
    color: #000;
    background: #fff;
    transition: .2s linear;
}

a {
    text-decoration: none;
    color: white;
}

input,
textarea,
button,
select {
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
}

.text_outline {
    width: 100%;
    min-height: 40px;
    border-radius: 17px;
    background: transparent;
    border: 1px solid #fff;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.text_outline span:first-child {
    padding: 5px;
    width: 80%;
    word-wrap: break-word;
}

.input_outline {
    width: 100%;
    height: 40px;
    border-radius: 17px;
    background: transparent;
    border: 1px solid #fff;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.input_outline::placeholder {
    color: #aaa8a8;
}

.label_input {
    position: relative;
}

.label_input .input_outline {
    padding-left: 40px;
}

.label_input .icon {
    position: absolute;
    left: 20px;
    top: 32%;
    transform: translate(-5px, -50%);
    color: #aaa8a8;
}

.label_input .input_outline:focus ~ .icon {
    color: #fff;
}

.btn:hover .loading {
    border-left: 2px solid #000;
}

.error {
    margin: 10px 0;
    color: #F84444;
    text-align: center;
}

.noposts {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

textarea.input_outline {
    padding: 15px;
    height: 200px;
    resize: none;
}

.label_input textarea ~ .icon {
    top: 10%;
}

.loading {
    text-align: center;
}

.input_exib input {
    width: 100%;
}

.input_ocult input {
    width: 10%;
}
