.container_create {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    padding: 20px;
}

.container_create label,
.container_create section {
    width: 100%;
}

.container_create button {
    margin-bottom: 20px;
}

.container_create button:last-child {
    border-color: #008000;
    color: #008000;
}

.container_create .list_order {
    max-height: 300px;
    overflow-y: scroll;
    padding: 0 5px;
    padding-left: 20px;
}

.container_create .list_order div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fff;
}

.container_create .amount {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fff;
}

.container_create .list_order div:last-child {
    margin-bottom: 20px;
}